<div class="banner">
  <div class="container p-8">
    <h1 class="text-5xl">
      <span class="text-indigo-600">Education</span> gives happiness &amp;
      <br />
      students are <span class="text-blue-500">future</span>.
    </h1>
    <h6 class="font-weight-normal pb-3">
      Crafted with love by
      <span class="text-indigo-500"> Brainware Group of Institutions. </span>
      pandemic solutions
    </h6>
    <div>
      <button
        class="btn btn-opacity-light mr-1"
        (click)="openDialog()"
        routerLinkActive="router-link-active"
      >
        Sign In
      </button>
      <button class="btn btn-opacity-success ml-1">Learn more</button>
    </div>
    <img
      src="https://www.bootstrapdash.com/demo/simple/images/Group171.svg"
      alt=""
      class="m-auto"
    />
  </div>
</div>
