<div class="flex">
  <div class="sideSummary w-1/5 sm:block hidden">
    <ul class="flex flex-col">
      <li
        class="py-2 my-1 hover:text-indigo-700 cursor-pointer inline-block px-4 rounded"
      >
        All topics
      </li>
      <p
        class="py-2 my-1 hover:text-indigo-700 cursor-pointer px-4 rounded text-xs"
      >
        Sounish's book
      </p>
      <p
        class="py-2 my-1 hover:text-indigo-700 cursor-pointer px-4 rounded text-xs"
      >
        Post session resource
      </p>
    </ul>
  </div>
  <div class="sm:w-4/5 w-full p-2">
    <div class="sm:hidden block">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Select topics</mat-label>
        <mat-select>
          <mat-option vlaue=""> Sounish's book </mat-option>
          <mat-option value=""> Post session resource </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      class="rounded-full px-5 py-3 outline-none bg-indigo-700 flex hover:shadow-lg mb-4 shadow-md text-white"
      [matMenuTriggerFor]="createMenu"
    >
      <mat-icon>add</mat-icon> Create
    </button>
    <mat-menu #createMenu="matMenu">
      <button mat-menu-item (click)="openAssignment()">
        <mat-icon color="primary">assignment</mat-icon>Assignment
      </button>
      <button mat-menu-item>
        <mat-icon color="primary">live_help</mat-icon>Questions
      </button>
      <button mat-menu-item>
        <mat-icon color="primary">extension</mat-icon>Quiz Test
      </button>
      <button mat-menu-item>
        <mat-icon color="primary">class</mat-icon>Materials
      </button>
    </mat-menu>
    <div class="topic mt-4 hover:shadow-lg rounded-lg p-4">
      <div class="flex border-b-2 justify-between">
        <p class="text-3xl text-indigo-600 my-auto">Code task</p>
        <mat-icon
          class="my-auto text-indigo-600 cursor-pointer"
          [matMenuTriggerFor]="topicMenu"
          >more_vert</mat-icon
        >
      </div>
      <mat-menu #topicMenu="matMenu">
        <button mat-menu-item>Rename</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
      <hr />
      <div class="px-0">
        <div class="flex border-b justify-between my-1 py-2">
          <div class="flex ml-4">
            <div
              class="text-xl text-white rounded-full w-10 h-10 text-center bg-indigo-600"
            >
              <mat-icon class="mt-2">assignment</mat-icon>
            </div>
            <p class="my-auto mx-2 px-2 hover:text-indigo-800 cursor-pointer">
              Smallest KMP :Codechef
            </p>
          </div>
          <mat-icon
            class="my-auto cursor-pointer"
            [matMenuTriggerFor]="topicItemMenu"
            >more_vert</mat-icon
          >
        </div>
        <mat-menu #topicItemMenu="matMenu">
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
        <div class="flex border-b justify-between my-1 py-2">
          <div class="flex ml-4">
            <div
              class="text-xl text-white rounded-full w-10 h-10 text-center bg-indigo-600"
            >
              <mat-icon class="mt-2">assignment</mat-icon>
            </div>
            <p class="my-auto mx-2 px-2 hover:text-indigo-800 cursor-pointer">
              Smallest KMP :Codechef
            </p>
          </div>
          <mat-icon
            class="my-auto cursor-pointer"
            [matMenuTriggerFor]="topicItemMenu"
            >more_vert</mat-icon
          >
        </div>
        <mat-menu #topicItemMenu="matMenu">
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </div>
    </div>
    <div class="topic mt-4 hover:shadow-lg rounded-lg p-4">
      <div class="flex border-b-2 justify-between">
        <p class="text-3xl text-indigo-600 my-auto">Post session notes</p>
        <mat-icon
          class="my-auto text-indigo-600 cursor-pointer"
          [matMenuTriggerFor]="topicMenu"
          >more_vert</mat-icon
        >
      </div>
      <mat-menu #topicMenu="matMenu">
        <button mat-menu-item>Rename</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
      <hr />
      <div class="px-0">
        <div class="flex border-b justify-between my-1 py-2">
          <div class="flex ml-4">
            <div
              class="text-xl text-white rounded-full w-10 h-10 text-center bg-indigo-600"
            >
              <mat-icon class="mt-2">assignment</mat-icon>
            </div>
            <p class="my-auto mx-2 px-2 hover:text-indigo-800 cursor-pointer">
              Smallest KMP :Codechef
            </p>
          </div>
          <mat-icon
            class="my-auto cursor-pointer"
            [matMenuTriggerFor]="topicItemMenu"
            >more_vert</mat-icon
          >
        </div>
        <mat-menu #topicItemMenu="matMenu">
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
        <div class="flex border-b justify-between my-1 py-2">
          <div class="flex ml-4">
            <div
              class="text-xl text-white rounded-full w-10 h-10 text-center bg-indigo-600"
            >
              <mat-icon class="mt-2">assignment</mat-icon>
            </div>
            <p class="my-auto mx-2 px-2 hover:text-indigo-800 cursor-pointer">
              Smallest KMP :Codechef
            </p>
          </div>
          <mat-icon
            class="my-auto cursor-pointer"
            [matMenuTriggerFor]="topicItemMenu"
            >more_vert</mat-icon
          >
        </div>
        <mat-menu #topicItemMenu="matMenu">
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
