.spacer {
    flex: 1 1 auto;
}


.example-sidenav-content {
//   display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 18%;
}