<div class="bg-indigo-700 pt-10 pb-20 px-16 text-white rounded-lg">
  <h2 class="text-3xl">HTML Crash course</h2>
  <h4>Web development</h4>
  <p class="text-sm pt-2">Class Code : ashl-csc-cas</p>
</div>
<div class="mt-2">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile class="shadow rounded-md"
      >Notification & upcomings</mat-grid-tile
    >
    <mat-grid-tile colspan="3" class="mx-2">
      <mat-expansion-panel class="w-full py-6" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-18">
              <img
                src="https://avatars0.githubusercontent.com/u/40270033?s=460&u=1b226ea48e266a392c3b213b9bedca00ed7e83ff&v=4"
                alt="profile icon"
                class="rounded-full w-64"
              />
            </mat-icon>
          </mat-panel-title>
          <mat-panel-description>Write something share with your class..
          </mat-panel-description>
          <mat-icon>post_add</mat-icon>
        </mat-expansion-panel-header>
        content
      </mat-expansion-panel>
    </mat-grid-tile>
  </mat-grid-list>
</div>
