<div>
  <h2 mat-dialog-title class="text-2xl">Educatify App</h2>
</div>
<mat-dialog-content class="mat-typography">
  <div class="w-full">
    <form class="bg-white rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-indigo-700 text-sm mb-2" for="email">
          Email
        </label>
        <input
          class="appearance-none border border-indigo-600 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="text"
          placeholder="flock.sinasini@gmail.com"
          required
        />
      </div>
      <div class="mb-6">
        <label class="block text-indigo-700 text-sm mb-2" for="password">
          Password
        </label>
        <input
          class="appearance-none border border-indigo-600 border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="XXX-XXXX-XXX"
          required
        />
        <p class="text-red-500 text-xs italic">Please choose a password.</p>
      </div>
      <div class="flex items-center justify-between" (click)="signup()">
        <button
          class="btn-dark hover:bg-blue-700 tracking-wide hover:text-indigo-500 font py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Sign up
        </button>
        <a
          class="inline-block align-baseline font text-sm text-indigo-700 px-2"
          href="#"
        >
          Forgot Password?
        </a>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      Or, sign up using <span class="text-indigo-800">Google</span>.
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
  type="submit"
    mat-button
    (click)="loginAuth()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Login
  </button>
</mat-dialog-actions>
